@{
    ViewBag.Title = "Access Deined";
}

<h1>You do not have permissions to enter this site. Contact with administrator or back to home page.</h1>
<a asp-action="Index" asp-controller="Home" asp-area=""> Click here to navigate to home page</a>